*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

h1{
  font-weight: 300;
}

.container{
  height: 90%;
  width: 100%;
}

img{
  height: 200px;
  width: 200px;
}
