*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.navbar{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul{
  height: 50%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a{
  text-decoration: none;

}

a:hover{
  color: blue;
}

a:visited{
  color: black;
}

.logo{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
